@using SearcheyData.Entities
@model SearcheyMcSearchface.Models.DocumentViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <div>Invalid document number</div>
}
else
{
    <h2 class="text-center">@Model.Header</h2>
    <div style="white-space: pre-wrap;" class="container">
        @Model.Text
    </div>
    @Html.Partial("_Tags", @Model.Tags)
    <hr/>

    <div>Source:
        <span class="label label-info">@Model.Source.ToString()</span>
        <span class="label label-info">@Model.URL</span>
    </div>
    <br/>

    <div class="h4">Related Documents:</div>
    <br/>
    <ul>
        @foreach (Document doc in Model.RelatedDocuments)
        {
        <li>
             @Html.ActionLink(@doc.Header, "Index", "Document", new {Id = @doc.Id}, null)
        </li>
        }
    </ul>
}


