@model SearcheyMcSearchface.Models.ExploreTagViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>@Html.DisplayFor(model => model.MainTag.Text)</h2>
    <hr />
    

    @foreach (var rt in @Model.RelatedTags)
    {
        @Html.ActionLink(rt.Text, "Details", new { id = rt.Id }, new { @class = "btn btn-info" }) @Html.Raw(" ")
    }
    <hr/>
</div>
<p>
    @Html.ActionLink("Search by tag", "Search", "Search", new { text = Model.MainTag.Text },new {@class="btn btn-info"})
    @Html.ActionLink("Back to List", "Index",null, new {@class="btn btn-info"})
</p>

<style>
    .label-infoh2 {
        margin-bottom: 40px !important
    }
</style>