@model SearcheyMcSearchface.Models.SearchResultViewModel

<div class="panel">
    <p class="small text-primary text-uppercase" style="text-transform: uppercase;">
        @Model.Header
    </p>
    <div class="small text-muted">@Model.Text</div>
    <br />
    @if (@Model.Tags != null)
    {
        @Html.Partial("_Tags", @Model.Tags)
    }
    <br/>
    @Html.ActionLink("Show More...", "Index", new { controller = "Document", Id = @Model.DocumentId }, new { target = "_blank" })
    <hr />
</div>