@model SearcheyMcSearchface.Models.SearchResultViewModel

<div>
    <div class="caption">
        Header: @Model.Header
    </div>
    <div class="caption">
        Text: @Model.Text
    </div>
    @Html.Partial("_Tags", @Model.Tags)
    @Html.ActionLink("Show More...", "Index", new { controller = "Document", Id = @Model.DocumentId }, new { target = "_blank" })
    <hr />
</div>